* {
    margin: 0;
    padding: 0;
}

body {
    background: #36413E;
}

.box {    
    background: #D7D6D6;
    margin-top: 25px;
    border-radius: 15px;
    border: 3px solid #8D8D92;
}
.box .content { padding: 15px 20px; }

.box .title {
    display: block;
    /* padding: 20px; */
}
.box .title h1 {
    color: #000;
    text-align: center;    
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;    
}
.box .info {     
    border-top: 1px solid #8D8D92;
    border-bottom: 1px solid #8D8D92;
}

.box .info strong { font-size: 1.125em; }

.box .info p { text-align: justify; }

.box .validate .form-group { padding: 0}

.box .validate .alerts {
    margin: 10px auto;
    display: block;
}